<header>
  <p class="header_logo">Re-TW</p>
  <p id="header_new_button"><%= button_to "新規投稿", new_post_path, method: :get, remote: true %></p>
</header>
<div class="wrapper">
  <div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
  </div>
  <div id="show_posts">
    <%= render "posts", posts: @posts %>
  </div>
</div>
