.wrapper {
  width: 70%;
  margin: 0 auto;
}

.post_wrapper {
  background-color: white;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 935px;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}
